<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>

    <testsuite name="Boltpay_Unit_Test">
        <directory prefix="test-" suffix=".php">./tests</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
    </php>
</phpunit>